@import "bottone.scss";
@import "variabili.scss";


.logo{
    display: inline-block;
}

body{
    text-align: center;
}
li {
    margin: 1.2rem;
    display: inline;
    text-decoration: none;
}
.btn-primary, .btn-secondary{
 border: $btnbordi ;
 background-color: $btncolore;
 color: $btncolorefont;

    
    
}