$fontfirasans:"Fira Sans', sans-serif";






body{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: $fontfirasans;
    
}

    


#main-menu {
    background-color: blue;
    
    li{
        list-style-type: none;
        display: inline-block;
        margin: 1.5rem;
        

         }
    a{
        text-decoration: none;
        color: white;
        font-style: italic;
        
    }


}
#sidebar  {
    
    
    li{
        list-style: none;
        border-bottom: 2px dotted black;





    }
    
    
    
}


h1{
    font-size: 2.5rem;
    text-align: center;

}
#footer{
    background-color: cadetblue;
    height: 3rem;
    
    
    div{
        display: none;
    }
}
  
    
    
