.logo {
  display: inline-block; }

body {
  text-align: center; }

li {
  margin: 1.2rem;
  display: inline;
  text-decoration: none; }

.btn-primary, .btn-secondary {
  border: 2px solid black;
  background-color: linear-gradient(0deg, yellow, purple);
  color: white; }
