body {
    background-color: coral;
}
.tabella {
    width: auto;
    height: auto;
    position: relative;
    margin: 5%;
    border-style: double;
    border-color: aquamarine;
    padding: 5%;
    background-color: azure;
    font-size: 13px;
}

button:hover{
    background-color: red;
   
}